<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12">
            <img src="<%= user.photoUser %>" alt="" width="150" height="150">
        </div>
        <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12">
            <label for="">Nombres</label>
            <p><%= user.firstName %></p>
            <br>
            <label for="">Apellidos</label>
            <p><%= user.lastName %></p>
            <br>
            <label for="">Nacimiento</label>
            <p><%= user.birth %></p>
            <br>
        </div>
        <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12">
            <label for="">Número de celular</label>
            <p><%= user.phoneNumber %></p>
            <br>
            <label for="">Email</label>
            <p><%= user.email %></p>
        </div>
        <div class="col-xl-8 col-md-8 col-lg-8 col-sm-12">
            <br>
            <label for="">Descripcion</label>
            <p><%= user.description %></p>
        </div>
    </div>
</div>

<%- include('layout/footer') %>